.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock

*.iml
*.ipr
*.iws
.idea/

android/.gradle/
android/gradle.properties
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/

*.log
.DS_Store
